@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<div class="main">
  <div class="inner">
<h1 style="margin-left:70px">@ViewData["Title"]</h1>
<br />
<h2 style="margin-left:70px" >Enter your email.</h2>
<div style="margin-left:30px" class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Resend</button>
        </form>
    </div>
</div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
