
@{
    ViewData["Title"] = "Home Page";
}
<div id="main">
    @await Component.InvokeAsync("Sliders")
   
    <header id="inner">
	  <h1>Find your new book!</h1>
	  <br />
	  <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
	</header>
	<br />
	<br />
	<br />
   
      <div class="inner">
	 <h2 style="text-align:center" class="h2">Featured Products</h2>
    <br />
    <br />
    
     @await Component.InvokeAsync("Products")
    
      <h3 class="text-center"><a asp-controller="Product" asp-action="Index">More Books &nbsp;<i class="fa fa-long-arrow-right"></i></a></h3>
       </div>
      
 
    <div class="inner">
	<h2 class="h2">Testimonials</h2>
							
							<div class="row">
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt delectus mollitia, debitis architecto recusandae? Quidem ipsa, quo, labore minima enim similique, delectus ullam non laboriosam laborum distinctio repellat quas deserunt voluptas reprehenderit dignissimos voluptatum deleniti saepe. Facere expedita autem quos."</em></p>

									<p><strong> - John Doe</strong></p>
								</div>

								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt delectus mollitia, debitis architecto recusandae? Quidem ipsa, quo, labore minima enim similique, delectus ullam non laboriosam laborum distinctio repellat quas deserunt voluptas reprehenderit dignissimos voluptatum deleniti saepe. Facere expedita autem quos."</em></p>

									<p><strong>- John Doe</strong> </p>
								</div>
							</div>
							<br />
							<h3 class="text-center"><a asp-area="Customer" asp-controller="Testimonials" asp-action="Index">Read More &nbsp;<i class="fa fa-long-arrow-right"></i></a></h3>
</div>
<br />
<br />
 <section class="our-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="left-content">
                            <br>
                           <h2 class="h2">About Us</h2>
                            <p style="margin-left:5px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, 
                                but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="~/images/blog-2-720x480.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <br />
            <h3 class="text-center"><a asp-area="Customer" asp-controller="About" asp-action="Index">Read More &nbsp;<i class="fa fa-long-arrow-right"></i></a></h3>
        </section>
</div>
 