<!DOCTYPE HTML>
<html>
	<head>
		<title>Online Book Store Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
		@await Component.InvokeAsync("Header");
				<!-- Header End -->

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a asp-area="Customer" asp-controller="Home" asp-action="Index" class="active">Home</a></li>

							<li><a href="products.html">Products</a></li>
							<li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
							<li><a asp-area="Admin" asp-controller="CoverType" asp-action="Index">CoverType</a></li>
							<li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a></li>
							<li><a href="checkout.html">Checkout</a></li>

							<li>
								<a href="#" class="dropdown-toggle">About</a>

								<ul>
									<li><a href="about.html">About Us</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="testimonials.html">Testimonials</a></li>
									<li><a href="terms.html">Terms</a></li>
								</ul>
							</li>

							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</nav>
<partial name="_Notification"/>
@RenderBody()

				@await Component.InvokeAsync("Footer");

			</div>

		<!-- Scripts -->
			<script src="~/assets/js/jquery.min.js"></script>
			<script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="~/assets/js/jquery.scrolly.min.js"></script>
			<script src="~/assets/js/jquery.scrollex.min.js"></script>
			<script src="~/assets/js/main.js"></script>
			<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			 @await RenderSectionAsync("Scripts", required: false)
	</body>
</html>

