<div id="main">
<div class="inner">
<h1>Products</h1>
<br />
	<div class="image main">
	  <img src="~/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
	</div>
<br />
<section class="tiles">
  <div class="container">
                <div class="row pt-5">
                    <div class="col-12 d-flex justify-content-between">
                       <ul class="category  d-md-flex list-unstyled">
                            <li><a href="" data-id="">All</a></li>
                            <li><a href="" data-id="">Action and Adventure</a></li>
                            <li><a href="" data-id="">Classics</a></li>
                            <li><a href="" data-id="">Detective and Mystery</a></li>
                            <li><a href="" data-id="">Fantasy</a></li>
                            <li><a href="" data-id="">Historical Fiction</a></li>
                            <li><a href="" data-id="">Horror</a></li>
                            <li><a href="" data-id="">Romance</a></li>
                        </ul>
                       </div>
                </div>
 </div>
@await Component.InvokeAsync("Products")

</section>
</div>
</div>