@model BookSale.Models.ViewModels.ContactVM
<div class="main">
<div class="inner">
   
<section class="contact-page pt-20">
       		 <span> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555011387!2d-122.50764067850132!3d37.757814997247806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2s!4v1650459714256!5m2!1sen!2s" 	 width="1180" height="450"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">></iframe> </span>
                         <br />
                         <br />
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="contact-form">
                        <h3>Contact</h3>
                        <form id="contact-form"  method="POST">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="single-form">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="text" asp-for="@Model.User.Name" name="FullName" placeholder="Your Name">
                                    }
                                    else
                                    {
                                        <input type="text" name="name" placeholder="Your Name">
                                    }
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="single-form">
                                        @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="email" asp-for="@Model.User.Email" name="Email" placeholder="Your Email">
                                    }
                                    else
                                    {
                                        <input type="email" name="email" placeholder="Your Email">
                                    }
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="single-form">
                                       <input type="text" asp-for="@Model.Message.Title" name="Title" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="single-form">
                                         <textarea asp-for="@Model.Message.Description" name="Description" placeholder="Your Message"></textarea>
                                    </div>
                                </div>
                                <p class="form-message"></p>
                                <br />
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <button class="main-btn main-btn-2">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="contact-info mt-30">
                        <h4 class="title">Contact Us</h4>
                        <p class="text">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>

                        <ul class="contact-info-block">
                           
                                <div class="single-info">
                                    <div class="info-icon-title d-flex align-item-center">
                                        <div class="info-icon">
                                           <i class="bi bi-geo-alt"></i>
                                        </div>
                                        <h5 class="info-title media-body">Address</h5>
                                    </div>
                                    <p style="margin-top:-20px">123 Main Street, Anytown, CA 12345 – USA</p>
                                </div>
                           
                            
                                <div class="single-info">
                                    <div class="info-icon-title d-flex align-item-center">
                                        <div class="info-icon">
                                           <i class="bi bi-telephone"></i>
                                        </div>
                                        <h5 class="info-title media-body">Phone</h5>
                                    </div>
                                    <p style="margin-top:-20px">Mobile: (08) 123 456 789</p>
                                    <p>Hotline: 1009 678 456</p>
                                </div>
                           
                            
                                <div class="single-info">
                                    <div class="info-icon-title d-flex align-item-center">
                                        <div class="info-icon">
                                           <i class="bi bi-envelope"></i>
                                        </div>
                                        <h5 class="info-title media-body">Email</h5>
                                    </div>
                                    <p style="margin-top:-20px">yourmail@domain.com</p>
                                    <p>support@hastech.company</p>
                                </div>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>  
</div>
<br />

@section Scripts{

   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $("#contact-form").submit(function (e) {
                e.preventDefault();
                let formData = {
                    Title: $("#Message_Title").val(),
                    Description: $("#Message_Description").val(),
                };
                $.ajax({
                    url: "/customer/contact/message",
                    type: "post",
                    data: formData,
                    success: function (response) {
                        Swal.fire({
                            position: 'top',
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function (result) {
                            $("#Message_Title").val("");
                            $("#Message_Description").val("");
                        })
                    },
                    error: function (error) { }
                })
            })
        })
    </script>
}