@model Bio
<!-- Header -->
					<header id="header">
						<div class="inner">

		  				  <!-- Logo -->
								<a asp-area="Customer" asp-controller="Home" asp-action="Index"  class="logo">
									<span class="fa fa-book"></span>@Html.Raw(Model.Logo)
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>