@model Bio
<!-- Header -->
					<header id="header">
						<div class="inner">

		  				  <!-- Logo -->
								<a href="index.html" class="logo">
									<span class="fa fa-book"></span> <span class="title">@Model.Logo</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>>
